li{
    list-style: none;
    display: inline-block;
}
.cardsection{
    padding: 20px;
    display: flex;
    gap: 15px;
    align-items: center;
    margin-left: 200px;
    margin-right: 200px;
}
.cardprofile{
    text-align: center;
}
.cardt{
    text-align: center;
}